{% load static %}
{% load pages_tags %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>
		{% block title %}{% endblock %}
	</title>
	<link href="{% static 'css/base.css' %}" rel="stylesheet">
	<link href="{% static 'css/content.css' %}" rel="stylesheet">
	<link href="{% static 'css/forms.css' %}" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>
</head>
<body>
	<div id="header">
		<a href="{% url 'pages:disciplines_list' %}" class="logo"><img src="{% static 'images/Logos/logo_grey.PNG' %}"></a>
		<h2>A way to keep your coding knowledge at the same place.</h2>
		
		{% if object %}{% search_field object %}{% navigation object %}{% endif %}

		<div id="registration">
			{% if request.user.is_authenticated %}
				<p>Hello, <em>{{ request.user.username }}</em>!</p>
				<a href="{% url 'logout' %}?next={% if object %}{{ object.get_absolute_url }}{% else %}
					{% url 'pages:disciplines_list' %}{% endif %}">Sign out</a>
			{% else %}
				<p>Hello, stranger!</p>
				{% with object.get_absolute_url as curr_page %}
					<a href="{% url 'login' %}?next={{ request.path }}">Sign in</a>
				{% endwith %}
			{% endif %}
		</div>
	</div>
	

	<div id='sidebar'>
		<ul>
			<h2>{% if sidebar_header %} {{ sidebar_header|truncatechars:20 }}: {% endif %}</h2>
			{% if sidebar_objects %}
				{% for object in sidebar_objects %}
					{% with object|model_name as class %}
						<a class="undecorated" href="{{ object.get_absolute_url }}">
							<li {% if class == 'page' %}class="page"{% endif %}>
								{{ object|truncatechars:27 }}
								{% if class != 'page' %}
									<img src="{% static 'images/icons/down_arrow.png' %}">
								{% endif %}
							</li>
						</a>
					{% endwith %}
				{% empty %}
					<li class="add">No content yet</li>
				{% endfor %}
			{% endif %}
			{% if request.user.is_authenticated %}
				{% management_buttons 'sidebar_small_plus' object %}
			{% endif %}
		</ul>
	</div>

{% block content %}{% endblock %}



</body>
</html>
