

a.undecorated {
	text-decoration: none;
	color: black;
}

.highlight {
	background-color: yellow;
}


#header { 
	background: linear-gradient(45deg, #707070, #0ca6e7);
	margin-left:10%;
	margin-right:10%;
	margin-top:-8px;
	margin-bottom: 40px;
	border-style: none groove groove groove;
	overflow: auto;
	height: 100px;
	border-radius: 0px 0px 15px 15px;
	position: static;
	 }

#header img {
	width: 100px;
	height: 100px;
	margin-left: -5px;
	margin-right: 20px;
	float:left;
}


#header p {
	text-align: right;
	font-size: 150%;
	margin-right: 15px;
}

#header a {
	display: block;
	text-align: right;
	position: relative;
	margin-right: 15px;
}

#navigation {
	text-align: center;
}

#navigation a {
	display: inline;
	margin-right: 2px;
}

#registration {
	position: absolute;
	top: 0;
	right: 10%;
	
}

#sidebar {
	background: linear-gradient(135deg, #707070, #0ca6e7);
	float:left;
	margin-left: -10px;
	margin-right: 20px;
	border-style: groove groove groove none;
	border-radius: 0px 15px 15px 0px;
	height: 100%;
	width: 15%;
}
#sidebar ul {
	margin-left: -28px;
	position: static;
	margin-bottom: 8px;
}


#sidebar li {
	background: linear-gradient(90deg, #707070, #0ca6e7 75%);
	list-style-type: none;
	border-style: outset;
	margin-left: -10px;
	margin-bottom: 2px;
	margin-right: 3px;
	line-height: 2.5em;
	height: 2em;
	border-width: 1.5px;
	font-size: 110%;
	text-indent: 3px;
	position: relative;
	height: 2.5em;
}
#sidebar li img {
	width: 30px;
	height: 30px;
	padding-top: 8px;
	text-align: right;
	position: absolute;
	top: 0;
	right: 5px;
}

#sidebar li.add {
	border: none;
	background: none;
	text-align: center;
}

#sidebar li.add img {
	position: absolute;
	top: 0;
	right: 50%;
}

#sidebar li.page {
	border-width: 1px;
	font-style: italic;
	background: linear-gradient(135deg, #707070, #0ca6e7 25%);
}


#sidebar h2 {
	color: gold;
	text-align: center;
	font-size: 125%;
}


#add_new {
	position: fixed;
	width: 125px;
	height: 125px;
	bottom: 35px;
	right: 50px;
	text-align: center;
}

#add_new img {
	width: 50px;
	height: 50px;
	padding-top: 10px;
	}


/* forms */

label { 
    float:left;
    color:#333;
    margin-bottom:4px; 
    width:10em;
    font-size:15px;
    font-weight: bold;
}


form a {
	display: block;
	width: auto;
	padding-bottom: 5px;
}

input, textarea { 
    margin:0 0 10px;
    background:#6ca9c3;
    border-style: inset;
    border-radius: 6px;
    border-width: 2px;
    padding:6px 10px;
    font-size:12px;
    width: 20em;
}

textarea.page_content {
	width: 95em;
	height: 40em;
}


input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
    width: 10em;
}

input[type=checkbox], input[type=radio] {
	width: 2em; 
}

form ul {
	list-style-type: none;
	display: block; 

}
.errorlist {
    position: absolute;
    color:#cc0033;
    float:left;
    clear:both;
    margin-left:27em;
    margin-top: 5px;
}


#search_form input, #search_form input textarea { 
    margin-right:10px;
    background:#22bbbb;
    border-style: inset;
    border-radius: 6px;
    border-width: 2px;
    padding:4px 0 4px 10px;
    font-size:12px;
    width: 15em;
    float: left;
}

#search_form input[type=submit] {
	 width: 8em;
}

