/* forms */

label {
    float:left;
    color:#333;
    margin-bottom:4px;
    width:10em;
    font-size:15px;
    font-weight: bold;
}


form a {
	display: block;
	width: auto;
	padding-bottom: 5px;
}

input, textarea, select {
    margin:0 0 10px;
    background:#6ca9c3;
    border-style: inset;
    border-radius: 6px;
    border-width: 2px;
    padding:6px 10px;
    font-size:12px;
    width: 20em;
}

textarea.page_content {
	width: 95em;
	height: 40em;
}


input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
    width: 10em;
}

input[type=checkbox], input[type=radio] {
	width: 2em;
}

form ul {
	list-style-type: none;
	display: block;

}
.errorlist {
    position: absolute;
    color:#cc0033;
    float:left;
    clear:both;
    margin-left:27em;
    margin-top: 5px;
}


#search_form input, #search_form input textarea {
    margin-right:10px;
    background:#22bbbb;
    border-style: inset;
    border-radius: 6px;
    border-width: 2px;
    padding:4px 0 4px 10px;
    font-size:12px;
    width: 15em;
    float: left;
}

#search_form input[type=submit] {
	 width: 8em;
}