{% extends 'base.html' %}
{% load static %}
{% load pages_tags %}
{% block title %}{{ object|truncatechars:15 }}{% endblock %}
{% block content %}
	<div id="content">
		
		<div class="discipline_description">
			<h1>{{ object }}:</h1>
			{% if object.description %}
				{{ object.description|linebreaks }}
			{% else %}<br><br>{% endif %}
			{% if request.user.is_authenticated %}
				{% management_buttons 'content_edit' object %}
			{% endif %}
			<hr>
		</div>
		
		{% for item in sidebar_objects %}
			{% subitem_plate item request %}
		{% empty %}
			<p>No content yet.</p>
		{% endfor %}
	</div>
	
	{% if request.user.is_authenticated %}
		{% management_buttons 'new_content' object %}
	{% endif %}

	
{% endblock %}
