{% extends 'base.html' %}
{% load static %}
{% load pages_tags %}
{% block title %}{{ page|truncatechars:15 }}{% endblock %}
{% block content %}
	<div id="content">
		<div class="discipline_description">
			<h1>{{ object }}:</h1>
			{% if request.user.is_authenticated %}
				{% management_buttons 'content_edit' object %}
			{% endif %}
			<hr>
		</div>
		
		{{ page.content|markdown }}
		{% management_buttons 'hide_comments' object %}
		{% if request.user.is_authenticated %}
			{% management_buttons 'edit_button' object %}
		{% endif %}
		
	</div>

{% endblock %}
