{% load static %}
{% load pages_tags %}

{% if scenario == 'new_discipline_big_plus' %}
    <div id="add_new">
        <a class="undecorated" href="{% url 'pages:discipline_create' %}">
            <img src="{% static 'images/icons/plus.png' %}">
            <p><i>Add new discipline</i></p>
        </a>
    </div>

{% elif scenario == 'new_content' %}
    <div id="add_new">
        {% with object|model_name as class_name %}
            <a class="undecorated" href="{% url 'pages:new_content' class_name=class_name key=object.pk %}">
                <img src="{% static 'images/icons/plus.png' %}">
                <p><i>Add new content</i></p>
                </li></a>
        {% endwith %}
    </div>

{% elif scenario == 'edit_button' %}
    <div id="add_new">
        <a class="undecorated" href="{% url 'pages:page_edit' object.pk %}">
            <img src="{% static 'images/icons/edit_button.png' %}">
            <p><i>Edit page</i></p>
        </a>
    </div>

{% elif scenario == 'hide_comments' %}
    <div id="hide_comments">
        <img src="{% static 'images/icons/no_comment.png' %}">
    </div>

{% elif scenario in 'content_edit, subitem_edit' %}
    {% with object|model_name as item_class %}
        <ul class="buttons_list">
            <li>
                {% if item_class == 'discipline' %} <a class="undecorated" href="{% url 'pages:discipline_edit' object.slug %}">
                {% elif item_class == 'theme' %} <a class="undecorated" href="{% url 'pages:theme_edit' object.pk %}">
                {% else %} <a class="undecorated" href="{% url 'pages:page_edit' object.pk %}">
                {% endif %}
                    {% if scenario == 'content_edit' %}
                        <img src="{% static 'images/icons/edit_button.png' %}">
                    {% else %}
                        <img class="small" src="{% static 'images/icons/edit2.png' %}">
                    {% endif %}
                </a>
            </li>
            <li>
                {% if item_class == 'discipline' %} <a class="undecorated" href="{% url 'pages:discipline_delete' object.pk %}">
                {% elif item_class == 'theme' %} <a class="undecorated" href="{% url 'pages:theme_delete' object.pk %}">
                {% else %} <a class="undecorated" href="{% url 'pages:page_delete' object.pk %}">
                {% endif %}
                    {% if scenario == 'content_edit' %}
                        <img src="{% static 'images/icons/delete_button.png' %}">
                    {% else %}
                        <img class="small" src="{% static 'images/icons/delete2.png' %}">
                    {% endif %}
                </a>
            </li>
        </ul>
    {% endwith %}

{% elif scenario == 'sidebar_small_plus' %}
    {% if object %}
        {% with object|model_name as class %}
            {% if class != 'page' %}
                <a class="undecorated" href="{% url 'pages:new_content' class_name=class key=object.pk %}">
            {% else %}
                {% with object.content_object|model_name as parent_class %}
                    <a class="undecorated" href="{% url 'pages:new_content' class_name=parent_class key=object.content_object.pk %}">
                {% endwith %}
            {% endif %}
        {% endwith %}
    {% else %}
        <a class="undecorated" href="{% url 'pages:discipline_create' %}">
    {% endif %}
            <li class="add"><img src="{% static 'images/icons/small_plus.png' %}"></li>
        </a>

{% endif %}

<script>
    function hide_comments() {
        code_indicator = 'pre'
        comment_indicator = '   - '
        code_tags = document.getElementsByTagName(code_indicator);
        for (var i = 0; i < code_tags.length; i++) {
            code_as_text = code_tags[i].innerText
            rows = code_as_text.split('\n')
            for (var k = 0; k < rows.length; k++) {
                comment_position = rows[k].indexOf(comment_indicator)
                if ( comment_position > 0 ){
                    uncommented_row = rows[k].slice(0, comment_position)
                    trimmed_row = uncommented_row.trimRight()
                    rows[k] = trimmed_row
                    }
                }
            whole_text = rows.join('\n')
            code_tags[i].innerText = whole_text
            }
        
        // Remove the div element after hiding comments
        hide_comments_div = document.getElementById("hide_comments");
        hide_comments_div.remove();
    }
    
    // Add event listener when the DOM is fully loaded
    document.addEventListener("DOMContentLoaded", function() {
        hide_comments_div = document.getElementById("hide_comments");
        hide_comments_div.addEventListener("click", hide_comments, false);
    });
</script>