{% extends 'base.html' %}
{% load pages_tags %}
{% block title %}Edit {{ object|model_name }}{% endblock %}
{% block content %}
	{% with object|model_name as class %}
		<h1>Editing {{ class }} "{{ object }}"</h1>
		<div id="content">
			<form action="" method="post" enctype="multipart/form-data">
				{{ form.as_p }}
				{% csrf_token %}
				<input type="submit" class="button" value="Edit">
			</form>
		</div>

		{% if class == 'page' %}
			{% tag_buttons %}
		{% endif %}
	{% endwith %}
{% endblock %}